<% last_slide = @presentation_disp.slides.last %>
<%= form_for @presentation_disp.slides.build , :remote => true , :as => :slide, :url => "/presentations/#{@presentation_disp.uid}/slides",:method => :post do |f| %>
  <!-- <%# if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <%# @slide.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
    <%# end %>-->
<div class="navbar navbar-inverse" style="margin-top:6px;">
  <div class="navbar-inner" >
    <font style="font-size:20px">Add a slide:</font>
    <%= f.hidden_field :name, :value => "name" %>
    <%= f.hidden_field :position_x, :value => "#{(last_slide)?(last_slide.position_x + 1000):(0)}" %>
    <%= f.hidden_field :position_y, :value => '0' %>
    <%= f.hidden_field :position_z, :value => '0' %>
    <%= f.hidden_field :rotation_x, :value => '0' %>
    <%= f.hidden_field :rotation_y, :value => '0' %>
    <%= f.hidden_field :rotation_z, :value => '0' %>
    <%= f.hidden_field :scale, :value => '1' %>
    <%= f.select :slide_class, [["awesome","step"], ["simple slide","step slide"]] %>
    <%= f.hidden_field :html_content, :value => "slide inner content" %>
    <%= f.submit "Add another slide", :class => "btn btn-info"%>
  </div>
</div>
<% end %>
