<% last_slide = @presentation.slides.last %>
<%= form_for @presentation.slides.build , :remote => true , :as => :slide, :url => "/presentations/#{@presentation.uid}/slides",:method => :post do |f| %>
  <!-- <%# if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <%# @slide.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
    <%# end %>-->
<div class="form_content">
    <%= f.hidden_field :name, :value => "name" %>
    <%= f.hidden_field :position_x, :value => "#{(last_slide)?(last_slide.position_x + 1000):(0)}" %>
    <%= f.hidden_field :position_y, :value => '0' %>
    <%= f.hidden_field :position_z, :value => '0' %>
    <%= f.hidden_field :rotation_x, :value => '0' %>
    <%= f.hidden_field :rotation_y, :value => '0' %>
    <%= f.hidden_field :rotation_z, :value => '0' %>
    <%= f.hidden_field :scale, :value => '1' %>
  <div class="field_act">
    <%= f.label :slide_class %>:<br />
    <%= f.select :slide_class, [["simple slide","step slide"],["awesome","step"]] %>
  </div>
    <%= f.hidden_field :html_content, :value => "slide inner content" %>
  <br/>
  <div class="actions">
    <%= f.submit "Add another slide" %>
  </div>
</div>
<% end %>
