<!DOCTYPE html>
<html>
<head>
  <title>AppForPresentation</title>
  <script type="text/javascript">
    <% if ( @presentation != nil ) %>
      window.presentation_uid = "<%= @presentation.uid %>"
    <% else %>
      window.presentation_uid = " "
    <% end %>
  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "application-884572fca56bfc7fa144afebd01a49b8" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
  var timer = null;
  function auto_reload()
  {
    var response_text = $.ajax({
      url: "http://"+window.location.host + ':8000?presentation_uid=' + window.presentation_uid
    }).response_text;
    setTimeout('auto_reload()',200);
  }
</script>
</head>
<body>
    <%= yield %>
</body>
</html>
